---
import MainLayout from "../layouts/MainLayout.astro"

---

<MainLayout>
	<main>
        <div class="center">
<h1>ABOUT <span class="purple">CREATIVE ESCAPE</span></h1>
</div>

<div class="grid_1-1">
    <div class="video_div">
<video autoplay loop muted playsinline>
  <source src="/imgs/berlin_video.mp4" type="video/mp4">
  Din browser understøtter ikke video-tagget.
</video>
</div>
<div>
<p>
    At Creative Escape (CrtvEsc), we believe that inspiration should be accessible, engaging, and easy to share. Our mission is to spark creativity and share valuable travel tips through bite-sized, visually captivating content designed specifically for young creatives across Europe.
</p>
<p>
    We create and curate a mix of copy, images, video, sound, graphics, and animation to communicate our concept in a way that feels fresh, relevant, and inspiring. Our content lives on the social media platforms where our audience already spends time, making it easy to discover and engage with.
</p>
<p>
    Our website acts as a hub for all of this creativity – a digital space where everything comes together. Built with the Astro framework and designed to reflect our visual identity, the site functions as a container for all the content we produce, ensuring a seamless and inspiring experience.
</p>
<p>
    Our audience – Young Creatives – are 17-25 year old designers, artists, and makers at the beginning of their careers or studies. Whether they are students of multimedia design, graphic design, communication, fashion, art, or visual culture, or independent young designers shaping their own path, Creative Escape is here to inspire and guide them.
</p>
</div>

</div>
<p>Join us as we share ideas, insights, and inspiration for your next creative journey.</p>


    </main>
</MainLayout>
