---
import MainLayout from "../layouts/MainLayout.astro"

---

<MainLayout>
    <main>
<div class="center">
<h1>STREET ART WALK IN BERLIN</h1>
<h2 class="purple">MONSTER KABINETT</h2>
</div>
<div class="kabinett_img">
<img src="/public/imgs/monsterkabinett.svg" alt="Forside billede">
</div>
<div class="center">
<h3 class="center">WHAT CAN MONSTER KABINETT OFFER YOU AS A CREATIVE SOUL</h3>
</div>
<p>
    Tucked away in the labyrinth of Berlin’s Hackesche Höfe, Monster Kabinett is not your typical gallery or theater. It’s a living, breathing world of mechanical sculptures and experimental performance art — a place where creativity takes on a wild, physical form.
</p>
<p>
    Created by the visionary artist collective Dead Chickens, Monster Kabinett is a journey through the minds of makers, dreamers, and inventors. Every creature you encounter has been hand-built from recycled materials and brought to life through ingenious engineering. It’s like stepping inside a kinetic art installation, where steel and gears become characters with distinct personalities.
</p>
<p>
    As you move through the darkened spaces, you’ll discover a narrative told not through words, but through movement, sound, and atmosphere. The experience is part art exhibition, part interactive performance, and part otherworldly dreamscape. It challenges the boundaries between art, technology, and storytelling — offering endless inspiration for creatives of all disciplines.
</p>

<div class="monster_img">
<img src="/public/imgs/kabinettimg.svg" alt="Monster Kabinett billede">
    </div>
</main>
</MainLayout>
