---

---

<footer>
    <div class="mail_1-1">
        <div>
            <h1>NEW GEMS TO YOUR INBOX</h1>
        </div>
        <div>
            <input type="email" placeholder="Email">
        </div>
    </div>
<div class="contact">
    <div class="contact_name">
        <h2 class="turkis">Creative Escape</h2>
    </div>
    <div>
        <ul>
            <li>Berlinerstrasse 123, 10115 Berlin</li>
            <li>creative@escape.com</li>
            <li>+49 30 1234 5678</li>
        </ul>
    </div>
</div>
</footer>